
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HOME</title>
  <meta name="description" content="Animate Figure Generation">
  <meta name="Ricky" content="HomePage">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <!--
  <script src="js/scripts.js"></script>
-->
  <h1> Awesome! Do you like it? <h1>
  <img src="{{url_for('static',filename='result.png')}}" /> <br>
  <a href="/back"><input type="submit" name = "back" value="back"></a>
</body>
</html>
